<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="beetle" type="Beetle.ConfigSection, Beetle"/>
  </configSections>
  <beetle Connections="5000"
          Pools="1" 
          SocketSendThreads="2" 
          SocketReceiveThreads="1" 
          SocketThreadSleep="1" 
          WorkThreads="2"
          WorkThreadSleep="1" 
          SendBufferSize="8196" 
          ReceiveBufferSize="8196" 
          PackageMaxSize="8196" 
          StringEncodingSize="512" 
          ChannelMaxQueueData="0" 
          ExecutionContext="False" 
          TimeOut="30" 
          Statistics="True"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
